<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>LZ.</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/ProductManagement_MVC.styles.css" asp-append-version="true"/>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg" style="height: 82px;">
        <div class="container-xl d-flex">
            @Html.Partial("Partials/Links")
            @Html.Partial("Partials/Dropdown")
        </div>
    </nav>
</header>

<div>
    <main role="main" class="">
        @RenderBody()
        @Html.Partial("Partials/Login")
        @Html.Partial("Partials/Register")
        @Html.Partial("Partials/Footer")
    </main>


</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)

<script>
    document.addEventListener("DOMContentLoaded", () => {
        if ('@TempData["Error"]' !== '') {
            var modal = new bootstrap.Modal(document.getElementById('globalModal'));
            modal.show();
        }
    })
</script>

</body>
</html>