@model UserInfo

@{
    ViewBag.HideHeader = false;
}

<div class="container mt-5 d-flex gap-5">

    @Html.Partial("UserInfo", Model)

    <div class="tab-content" style="flex-grow: 1;">

        @Html.Partial("AccountInfo", Model)

        @Html.Partial("OrderInfo", Model)

        @Html.Partial("ReviewInfo", Model)

        @Html.Partial("AddressInfo", Model)

    </div>
</div>
<div/>