@model IEnumerable<Questions>

<div class="">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-black">Sorular</h2>
        <a class="btn btn-primary btn-sm" asp-action="Create">Yeni Ekle</a>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Kullanıcı</th>
            <th>Ürün</th>
            <th>Soru</th>
            <th>Cevap</th>
            <th>Sorulma Tarihi</th>
            <th>İşemler</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var question in Model)
        {
            <tr>
                <td>@question.UserId</td>
                <td>@question.ProductId</td>
                <td>@question.Question</td>
                <td>
                    @foreach (var answer in ViewBag.Answer)
                    {
                        if (question.Id == answer.QuestionId)
                        {
                            if (answer.Content != null)
                            {
                                <p style="color: #db7219">@answer.Content</p>
                            }
                            else
                            {
                                <p class="text-danger">Soru cevaplanmadı</p>
                            }
                        }
                    }
                </td>
                <td>@question.CreatedAt</td>
                <td>
                    <div class="d-flex gap-2">
                        <a asp-area="Admin" asp-controller="Products" asp-action="Edit" asp-route-id="@question.Id" class="btn btn-sm btn-outline-primary">Düzenle</a>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Delete" asp-route-id="@question.Id" class="btn btn-sm btn-outline-danger">Sil</a>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>