@model Products

@{
    ViewBag.HideHeader = false;
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>


<div class="container mt-5">
    <div class="row g-4">
        <div class="col-md-6">
            <div>
                <img src="/Images/@Model.img" alt="@Model.name" class="img-fluid rounded shadow-lg">
            </div>
        </div>
        
        <div class="col-md-6">
            <h1 class="h2 mb-3 text-uppercase" style="font-weight: bold">@Model.name</h1>
            <p class="text-white mb-4" style="line-height: 1.7; font-size: 1.1rem;">@Model.description</p>
            <div class="d-flex gap-3">
                <h5 class="font-weight-bold text-white mb-1">Fiyat :</h5>
                <p class="text-white mb-4">@Model.price.ToString("C")</p>
            </div>
            <div class="d-flex align-items-center gap-3 mt-4">
                <form id="form-@Model.Id" asp-action="AddToCart" asp-controller="Cart" method="post" style="display: flex; gap: 20px;">
                    <input type="hidden" name="productId" value="@Model.Id" style="display: none;" />
                    <input type="number" name="quantity" value="1" min="1" class="form-control w-25 text-center">
                    <button type="submit" class="" style="padding: 10px 40px; border: 0.5px solid white; background: transparent; color: white">
                        <i class="fas fa-shopping-cart me-2"></i> Sepete Ekle
                    </button>
                </form>
            </div>
            
            <div class="mt-5">
                <div class="d-flex justify-content-between border-top pt-3 text-white">
                    <span><i class="fas fa-shipping-fast me-2"></i>Hızlı Teslimat</span>
                    <span><i class="fas fa-check me-2"></i> Stokta Mevcut</span>
                    <span><i class="fas fa-undo me-2"></i>Beğenmezsenin İade</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mt-5">
        <h3 class="text-center mb-4">Benzer Ürünler</h3>
    </div>
</div>
