@model IEnumerable<Products>

@{
ViewBag.HideHeader = false;
}

<div class="container mt-5">
    <div class="row g-4">
        @foreach (var product in Model)
        {
        <div class="col-md-6">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="card shadow-sm h-100" style="background-color: #000; color: white; text-decoration: none;">
                <div class="row g-4">
                    <div class="col-2" style="width: 120px">
                        <img src="/Images/@product.img" class="img-fluid rounded-2" alt="@product.name" />
                    </div>
                    <div class="col-8">
                        <div class="card-body d-flex flex-column justify-content-between">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">@product.name</h5>
                                <h6 class="card-subtitle mb-2">
                                    @String.Format("{0:C}", product.price)
                                </h6>
                            </div>
                            <div>
                                <p class="card-text text-truncate opacity-50" style="font-weight: lighter; font-size: 14px;">@product.description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        }
    </div>
</div>
